.hidden{
    visibility: hidden;
}

.nameSize{
    font-size: 1.3rem;
}

.nameColor{
    color: #BBEF55;
}

.border{
    border: 5px solid #D5EA49;
}

.opacity{
    opacity: 0.9;
}

.borderHover{
    border: 5px solid #BBEF55;
    opacity: none;
}

.male{
    color: #74C2E7;
}

.female{
    color: #AB73A1;
}

.genderless{
    color: #6E8774;
}

.unknown{
    color: #861D21;
}

/* .font{
    font-family: Press Start 2P, Verdana; 
} */