.hidden{
    visibility: hidden;
    /* transition: visibility 0.8s linear 0.2s; */
}
.visible{
    visibility: visible;
    transition: visibility 1s linear 1s;
}
.nameSize{
    font-size: 0.8rem;
    text-decoration: none;
    text-decoration-color: none;
    color: white;
}
.otherSize{
    font-size: 1rem;
}
.nameColor{
    color: #BBEF55;
    transition: color 0.8s linear 0.2s;
}

.border{
    border: 5px solid #D5EA49;
}

.opacity{
    opacity: 0.7;
}

.borderHover{
    border: 5px solid #BBEF55;
    opacity: none;
}

.male{
    color: #74C2E7;
}

.female{
    color: #AB73A1;
}

.genderless{
    color: #6E8774;
}

.unknown{
    color: #861D21;
}

/* .font{
    font-family: Press Start 2P, Verdana; 
} */

@media screen and (max-width: 767px) {
    .nameSize{
        font-size: 0.6rem;
    }
    .otherSize{
        font-size: 0.7rem;
    }
}

/* @media screen and (max-width: 1023px){
    
} */