.hidden{
    visibility: hidden;
}

.nameSize{
    font-size: 1.3rem;
}
.otherSize{
    font-size: 1.2rem;
}
.nameColor{
    color: #BBEF55;
}

.border{
    border: 5px solid #D5EA49;
}

.opacity{
    opacity: 0.9;
}

.borderHover{
    border: 5px solid #BBEF55;
    opacity: none;
}

.male{
    color: #74C2E7;
}

.female{
    color: #AB73A1;
}

.genderless{
    color: #6E8774;
}

.unknown{
    color: #861D21;
}

/* .font{
    font-family: Press Start 2P, Verdana; 
} */

@media screen and (max-width: 767px) {
    .nameSize{
        font-size: 0.9rem;
    }
    .otherSize{
        font-size: 0.9rem;
    }
}

/* @media screen and (max-width: 1023px){
    
} */