/* Iconos Bootstrap */
/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"); */

.div {
    display: flex;
    align-items: center;
    position: sticky;
    /* left: 78%; */
    right: 2%;
    margin-left: 1rem;
}

input{
    height: 1.7rem;
    padding-left: 10px;
    background: linear-gradient(#040207, rgba(15,20,36,0.5));
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    outline: none;
}

.button{
    margin-left: 10px;
    height: 1.7rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 0 15px;
    background-color: #81D15E;
    color: white;
    font-weight: 700;
}
/*  usar un icono, cuando el width sea menor a 1000px, o darle opasidad a 'buscar' */
.button::after{
    content: 'Buscar';
}

.iconSearch{
    position: absolute;
    opacity: 0;
}

@media screen and (max-width: 1100px){
    .button::after{
        content: '';
        padding: 0;
        margin: 0;
    }
    .iconSearch{
        position: relative;
        opacity: 1;
        padding: 0;
        /* margin: 0; */
    }
}

.button:hover{
    background-color: #BBEF55;;
}